In [1]:
import findspark
findspark.init()
import pyspark
sc=pyspark.SparkContext(appName="MyAppName")
sc

In [10]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Create Spark Session
spark = SparkSession.builder.appName("AssignmentOne").getOrCreate()

Question 1
Create Student & Class DataFrames

In [11]:
from pyspark.sql import Row

# Student dataframe
student_data = [
    (1, "Amit", "Pune", 21, "M", 101),
    (2, "Priya", "Mumbai", 23, "F", 102),
    (3, "Ravi", "Delhi", 22, "M", 101),
    (4, "Sneha", "Nagpur", 25, "F", 103),
    (5, "Karan", "Pune", 24, "M", 102)
]

student_columns = ["rollno", "name", "address", "age", "gender", "classid"]

students_df = spark.createDataFrame(student_data, student_columns)

# Class dataframe
class_data = [
    (101, "Data Science"),
    (102, "AI"),
    (103, "ML")
]

class_columns = ["classid", "classname"]

class_df = spark.createDataFrame(class_data, class_columns)

# Show data
students_df.show()
class_df.show()

+------+-----+-------+---+------+-------+
|rollno| name|address|age|gender|classid|
+------+-----+-------+---+------+-------+
|     1| Amit|   Pune| 21|     M|    101|
|     2|Priya| Mumbai| 23|     F|    102|
|     3| Ravi|  Delhi| 22|     M|    101|
|     4|Sneha| Nagpur| 25|     F|    103|
|     5|Karan|   Pune| 24|     M|    102|
+------+-----+-------+---+------+-------+

+-------+------------+
|classid|   classname|
+-------+------------+
|    101|Data Science|
|    102|          AI|
|    103|          ML|
+-------+------------+

Operations

In [13]:
# Display student names with gender = M
students_df.filter(col("gender") == "M").select("name").show()

+-----+
| name|
+-----+
| Amit|
| Ravi|
|Karan|
+-----+

In [14]:
# Display student names with gender = F
students_df.filter(col("gender") == "F").select("name").show()

+-----+
| name|
+-----+
|Priya|
|Sneha|
+-----+

In [15]:
# Display students of classid = 101
students_df.filter(col("classid") == 101).show()

+------+----+-------+---+------+-------+
|rollno|name|address|age|gender|classid|
+------+----+-------+---+------+-------+
|     1|Amit|   Pune| 21|     M|    101|
|     3|Ravi|  Delhi| 22|     M|    101|
+------+----+-------+---+------+-------+

In [16]:
# Display students whose age > 22
students_df.filter(col("age") > 22).show()

+------+-----+-------+---+------+-------+
|rollno| name|address|age|gender|classid|
+------+-----+-------+---+------+-------+
|     2|Priya| Mumbai| 23|     F|    102|
|     4|Sneha| Nagpur| 25|     F|    103|
|     5|Karan|   Pune| 24|     M|    102|
+------+-----+-------+---+------+-------+

In [17]:
# Add new column 'grade'
students_df = students_df.withColumn("grade", 
              col("age") * 2)  # Example logic: grade = age*2
students_df.show()

+------+-----+-------+---+------+-------+-----+
|rollno| name|address|age|gender|classid|grade|
+------+-----+-------+---+------+-------+-----+
|     1| Amit|   Pune| 21|     M|    101|   42|
|     2|Priya| Mumbai| 23|     F|    102|   46|
|     3| Ravi|  Delhi| 22|     M|    101|   44|
|     4|Sneha| Nagpur| 25|     F|    103|   50|
|     5|Karan|   Pune| 24|     M|    102|   48|
+------+-----+-------+---+------+-------+-----+

In [18]:
# Join students with class
students_with_class = students_df.join(class_df, "classid")
students_with_class.select("classname", "name").show()

+------------+-----+
|   classname| name|
+------------+-----+
|Data Science| Amit|
|Data Science| Ravi|
|          AI|Priya|
|          AI|Karan|
|          ML|Sneha|
+------------+-----+